/* Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */

.header{
    width: 100%;
    max-width: 1320px;
    margin: 50px auto;
    height: 600px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/banner-image.png);
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 16px;
}

.banner{
    padding: 177px 344px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #FFF;
    
}
.banner-gretings{
    font-size: 32px;
    font-weight: 400;
}

.banner-title{
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
}

/* Promo Banner Styles */
.promo-banner-content{
    width: 100%;
    max-width: 1320px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.promo-banner-title{
    padding-bottom: 48px;
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

.promo-banner-slogan{
    color: #F00;
    font-size: 24px;
    font-weight: 500;   
}

.promo-category{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;

}

.promo-banner-content img{
    margin-bottom: 120px;
}

/* Party Banner Styles */

.party-banner{
    width: 100%;
    max-width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 10px;
}

.party-banner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.party-banner-content{
    color: #FFF;
    padding-left: 126px;

}

.party-banner-title{
    font-family:'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 10px;
}

.party-banner-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom:20px;
}

.party-banner-image{
    padding: 68px 138px 0;
}

.party-banner button{
    padding:16px 32px;
    border-radius: 8px;
    background: rgb(238, 255, 0);
    border: 0;
    color:#070211;
    font-size: 20px;
    font-weight: 700;

}

/* Event Schedule Section Style */
.event-schedule{
    width: 100%;
    max-width: 1320px;
    margin: auto;
}

.schedule-details{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 385px;
    color: #070211;
    font-family:'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.schedule-details span{
    color: #F00;
}

.schedule-details button{
    padding:16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 64px;

}


/* Best offer styles */
.best-offer{
 width: 100%;
 max-width: 1320px;
 margin: 120px auto;
}
.best-offer-content{
    display: flex;
    gap: 70px;
    align-items: center;
}

.section-image {
    border: 15px solid red;
    border-radius: 50%;
    padding: 40px;
}
.best-offer-content h4{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;

}


.best-offer-content h2{
color: #070211;
font-family: 'Merriweather', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.best-offer-content p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 20px 0;
    max-width: 390px;
}

/* Gift Section Styles */
.gift-section{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.gift-section-tag-line{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.gift-section-title{
    font-family: 'Merriweather', serif;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.gift-section p{
    font-family: 'Inter', sans-serif;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.gift-items{
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
}

.gift-items img:hover{
    cursor: pointer;
    transition: box-shadow 0.3s ease; 
    box-shadow: 0 0 30px rgba(211, 49, 0, 0.7);
}




/* Newsletter Section Styles */
.newsletter{
    width: 100%;
    padding-bottom: 120px;
}
.newsletter-content{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.newsletter-content img{
    padding: 80px 0 40px;
}

.newsletter-title{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
}

.newsletter-description{
    padding: 22px 0 48px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.newsletter-content input{
    padding: 25px 477px 25px 30px;
    border: 0;
    background-color: #FFF;
    color:  rgba(7, 2, 17, 0.30);
    font-size: 18px;
    outline: none;

}

.newsletter-content button{
    padding: 24px 56px;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    font-size: 18px;
    color: #FFF;
    margin-left: -10px;
}

/* Footer Section Styles */

 .footer{
    width: 100%;
    margin: auto;
    background-color: #070211;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #FFF;
}

.info{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding: 120px 275px 0 140px;
}

.addrees{
    align-items: flex-start;
}

.contact{
    align-items: flex-end;
}

hr{
    margin: 50px 0;
    height: 1px;
    color: rgba(255, 255, 255, 0.15);
}
.social-media{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.copywright{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding: 0 140px 120px;
}


